.add-card{
    width: 500px;
    margin: 0 auto;
}

.create-card-input{
    border: none;
    outline: none;
    width: 100%;
}

.create-button{
    background-color:#40bcbe;
    border: none;
    outline: none;
    padding: 0 auto;
    width: 100px;
    height: 30px;
    font-size: small;
    color: white;
}